<!DOCTYPE html>
<html>

    <head>
        <title>获取 JSON 数据</title>
    </head>

    <body>
        <div id="app">
            <button @click="fetchData">获取数据</button>
            <table>
                <tr>
                    <th>ID</th>
                    <th>姓名</th>
                    <th>年龄</th>
                </tr>
                <tr v-for="item in jsonData">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.age }}</td>
                </tr>
            </table>
            <ul>
                <li v-for="item in jsonData" :key="item.id">
                    <div>{{item.id}}</div> Name: {{ item.name }}, Age: {{ item.age }}
                </li>
            </ul>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="test.js"></script>
    </body>

</html>